/*        適用於電腦螢幕*/
@media screen {
  div {
    width: 880px;
    height: 560px;
    margin: auto;
  }
  header {
    width: 880px;
    height: 260px;
    background-image: url(images/header.jpg);
  }
  nav {
    width: 880px;
    height: 55px;
    background-image: url(images/nav.gif);
  }
  nav img {
    margin: 5px 25px 0px;
  }
  aside {
    width: 635px;
    height: 265px;
    background-image: url(images/aside.jpg);
    float: left;
  }
  aside img {
    display: none;
  }
  span {
    display: none;
  }
  article {
    width: 245px;
    height: 265px;
    background-image: url(images/article.gif);
    float: left;
    font-size: 13px;
  }
  article h1 {
    font-size: 20px;
    color: brown;
    text-align: center;
    font-family: 微軟正黑體;
    text-align: center;
    margin-top: 40px;
  }
  article h2 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
  }
  footer {
    width: 880px;
    height: 20px;
    background-image: url(images/footer.gif);
    clear: both;
    font-size: 13px;
    text-align: center;
  }
}
/*        適用於印表機列印時*/
@media print {
  div {
    width: 80%;
    height: auto;
    margin: auto;
  }
  header {
    width: 880px;
    height: 260px;
    background-image: url(images/header.jpg);
    display: none;
  }
  nav {
    width: 880px;
    height: 55px;
    background-image: url(images/nav.gif);
    display: none;
  }
  nav img {
    margin: 5px 25px 0px;
  }
  aside {
    width: 100%;
    height: auto;
    background-image: none;
    float: none;
    text-align: center;
  }
  span {
    display: none;
  }
  article {
    width: 100%;
    height: auto;
    background-image: none;
    float: none;
    font-size: 16pt;
  }
  article h1 {
    font-size: 20pt;
    color: brown;
    text-align: center;
    font-family: 微軟正黑體;
    text-align: center;
    margin-top: 40px;
  }
  article h2 {
    font-size: 16pt;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
  }
  footer {
    width: 100%;
    height: auto;
    background-image: none;
    clear: both;
    font-size: 13px;
    text-align: center;
  }
}
/*        適用螢幕寬度小於480px的裝置（當螢幕小於480px時）*/
@media screen and (max-width: 480px) {
  div {
    width: 100%;
    height: auto;
    margin: auto;
  }
  header {
    width: 880px;
    height: 260px;
    background-image: url(images/header.jpg);
    display: none;
  }
  nav {
    width: 880px;
    height: 55px;
    background-image: url(images/nav.gif);
    display: none;
  }
  nav img {
    margin: 5px 25px 0px;
  }
  aside {
    width: 100%;
    height: auto;
    background-image: none;
    float: none;
  }
  aside img {
    display: block;
    margin: auto;
  }
  span {
    width: 80%;
    margin: auto;
    height: auto;
    text-align: center;
    display: block;
    padding-top: 30px;
  }
  article {
    width: 80%;
    height: auto;
    background-image: none;
    float: none;
    font-size: 13px;
    margin: auto;
  }
  article h1 {
    font-size: 20px;
    color: brown;
    text-align: center;
    font-family: 微軟正黑體;
    text-align: center;
    margin-top: 40px;
  }
  article h2 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
  }
  footer {
    width: 100%;
    height: auto;
    background-image: none;
    clear: both;
    font-size: 13px;
    text-align: center;
    display: none;
  }
}
/*        適用於平版直著拿的情況（平版橫著拿的情況就和電腦螢幕相同）*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  div {
    width: 100%;
    height: auto;
    margin: auto;
  }
  header {
    width: 880px;
    height: 260px;
    background-image: url(images/header.jpg);
    display: none;
  }
  nav {
    width: 100%;
    height: auto;
    background-image: none;
    text-align: center;
    padding-bottom: 30px;
  }
  nav img {
    margin: 5px 5px 0px;
  }
  aside {
    width: 100%;
    height: auto;
    background-image: none;
    float: none;
    text-align: center;
  }
  aside img {
    display: inline-block;
  }
  span {
    display: none;
  }
  article {
    width: 80%;
    height: auto;
    background-image: none;
    float: none;
    font-size: 16px;
    margin: auto;
  }
  article h1 {
    font-size: 24px;
    color: brown;
    text-align: center;
    font-family: 微軟正黑體;
    text-align: center;
    margin-top: 40px;
  }
  article h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
  }
  footer {
    width: 100%;
    height: auto;
    background-image: none;
    clear: both;
    font-size: 16px;
    text-align: center;
  }
}
